<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="<%= twitter_site %>" />
    <meta property="og:type" content="blog">
    <meta property="og:site_name" content="<%= site_name %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= base_url + '/walklog.png' %>">
    <% for (var tag of icon_tags) { %> 
    <%- tag %>
    <% } %>
    <link rel="canonical" href="<%= canonical %>">
    <title><%= title %></title>
    <script src="//www.google.com/jsapi"></script>
    <script src="//maps.google.com/maps/api/js?libraries=geometry,drawing&key=<%= google_api_key %>"></script>
</head>
<body style="margin: 0; background-color: black;">
    <div id="body"><%- html %></div>
    <script>
        window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>
    </script>
    <script src="./bundle.js"></script>
    <style id="jss-server-side"><%- css %></style>
</body>
</html>
